@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gyeonggi_Title_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.wrap{
    width: 100%; 
    height: 400px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
}
.tb01{
    background-image: url(img/bg1.png);
    width: 100%;
    height: 432px;
    background-repeat: no-repeat;
    position: relative;
}
.logo1{
    position: absolute;
    left: 5%;
    bottom: 0%;
}
.tb02{
    background-image: url(img/bg2.png);
    width: 100%;
    height: 194px;
    background-repeat: no-repeat;
    position: relative;
}
.tb03{
    background-image: url(img/bg3.png);
    width: 100%;
    height: 427px;
    background-repeat: no-repeat;
    position: relative;
}
.im1{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0%;
    left: 3%;
}
.na1{
    font-family: 'Ownglyph_ParkDaHyun';
    color: #D12133;
    font-size: 40px;
    width: 56px;
    height: 41px;
    position: absolute;
    top: 3%;
    left: 42%;}
.tx1{
    width: 198px;
    height: 65px;
    position: absolute;
    font-size: 30px;
    font-weight: 34px;
    top: 15%;
    left: 42%;}
.im2{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0%;
    left: 3%;}
.na2{
    font-family: 'Ownglyph_ParkDaHyun';
    color: #D18521;
    font-size: 40px;
    position: absolute;
    width: 58px;
    height: 41px;
    left: 42%;
    bottom: 23%;}
.tx2{
    font-size: 30px;
    width: 170px;
    height: 64px;
    position: absolute;
    left: 42%; 
    bottom: 5%;}
.im3{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 6%;
    left: 3%;}
.na3{
    font-family: 'Ownglyph_ParkDaHyun';
    color: #BFB412;
    font-size: 40px;
    width: 60px;
    height: 41px;
    position: absolute;
    left: 42%;
    top: 6.5%;}
.tx3{
    width: 180px;
    height: 70px;
    position: absolute;
    font-size: 30px;
    font-weight: 34px;
    top: 9%;
    left: 42%;}
.im4{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 3%;
    top: 20%;}
.na4{
    width: 56px;
    height: 41px;
    color: #5A9F41;
    position: absolute;
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 40px;
    left: 42%;
    top: 21%;}
.tx4{
    width: 200px;
    height: 65px;
    font-size: 30px;
    font-weight: 34px;
    left: 42%;
    top: 22%;
    position: absolute;}
.im5{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 3%;
    top: 35%;}
.na5{
    width: 50px;
    height: 41px;
    position: absolute;
    font-size: 40px;
    color: #30B2B7;
    font-family: 'Ownglyph_ParkDaHyun';
    left: 42%;
    top: 35%;}
.tx5{
    width: 180px;
    height: 65px;
    position: absolute;
    font-size: 30px;
    font-weight: 34px;
    top: 36%;
    left: 42%;}
.im6{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 3%;
    top: 50%;}
.na6{
    width: 52px;
    height: 41px;
    color: #A743BC;
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 40px;
    position: absolute;
    left: 42%;
    top: 50%;}
.tx6{
    width: 210px;
    height: 65px;
    font-size: 30px;
    font-weight: 34px;
    position: absolute;
    left: 42%;
    top: 53%;}
.tx1, .tx2, .tx3, .tx4, .tx5, .tx6{
    font-family: 'Ownglyph_ParkDaHyun';
    color: #9A3B1F;
    text-align: center;
}
.ma1{
    width: 291px;
    height: 164px;
    position: absolute;
    left: 12%;
    bottom: 30%;
}
.tx7{
    width: 354px;
    height: 50px;
    font-size: 25px;
    font-weight: 30px;
    position: absolute;
    left: 7%;
    bottom: 25%;
    font-family: 'Gyeonggi_Title_Medium';
    text-align: center;
    color: #733838;
}
.tb04{
    background-image: url(img/bg4.png);
    width: 100%;
    height: 1973px;
    background-repeat: no-repeat;
    position: relative;
}
.tb07{
    background-image: url(img/bg7.png);
    width: 430px;
    height: 253px;
    background-repeat: no-repeat;
    position: relative;
}
.tb08{
    background-image: url(img/bg8.png);
    width: 430px;
    height: 659px;
    background-repeat: no-repeat;
    position: relative;
}
.blindwrap{
    width: 100%; 
    height: 253px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
    top: 30%;
}
.blind1, .blind2, .blind3, .blind4, .blind5, .blind6, .blind7{
  width: 100%;
  height: 253px;
  position: relative;
}
.tt1{
    color: #ffffff;
    position: absolute;
    font-family: 'Gyeonggi_Batang_Regular';
    text-align: center;
    bottom: 7%;
    left: 20%;
    width: 250px;
    height: 69px;
    font-size: 20px;
}
.tt2{
    color: #ffffff;
    position: absolute;
    font-family: 'Gyeonggi_Batang_Regular';
    text-align: center;
    top: 14%;
    left: 23%;
    font-size: 20px;
}
.tt3{
    color: #ffffff;
    position: absolute;
    font-family: 'Gyeonggi_Batang_Regular';
    text-align: center;
    bottom: 20%;
    left: 26%;
    font-size: 20px;
}
.tt4{
    color: #ffffff;
    position: absolute;
    font-family: 'Gyeonggi_Batang_Regular';
    text-align: center;
    left: 20%;
    top: 5%;
    font-size: 14px;
    line-height: 25px;
}
.tt5{
    color: #ffffff;
    position: absolute;
    font-family: 'Gyeonggi_Batang_Regular';
    text-align: center;
    font-size: 18px;
    top: 10%;
    left: 29%;
    line-height: 34px;
}
.tb09{
    background-image: url(img/blind.png);
    width: 430px;
    height: 309px;
    background-repeat: no-repeat;
    position: relative;
}
.tb10{
    background-image: url(img/bg9.png);
    width: 430px;
    height: 914px;
    position: relative;
    background-repeat: no-repeat;
}
.misswrap{
    width: 100%; 
    height: 251px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
    top: 30%;
}
.tb11{
    background-image: url(img/miss.png);
    width: 430px;
    height: 269px;
    position: relative;
    background-repeat: no-repeat;
}
.tb12{
    background-image: url(img/bg10.png);
    width: 430px;
    height: 932px;
    position: relative;
    background-repeat: no-repeat;
}
.darkwrap{
    width: 100%;
    height: 253px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
    top: 50%;
}
video{
    width: 100%;
    height: 932px;
}
.tb13{
    width: 430px;
    height: 435px;
    background-image: url(img/death_game.png);
    position: relative;
    background-repeat: no-repeat;
}
.tb05{
    background-image: url(img/bg5.png);
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    position: relative;
}
.tb06{
    background-image: url(img/bg6.png);
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    position: relative;
}
.end{
    background-image: url(img/headline.png);
    width: 430px;
    height: 94px;
    position: relative;
    background-repeat: no-repeat;
}
footer{width: 100%;height: 331px;background-color: #ffffff; color: rgb(0, 0, 0);}
footer > img{padding-left: 34px;padding-top: 38px;padding-bottom: 12px;}
.f00{width: 363px;margin: 0 auto;font-family: "Noto Sans KR", serif;font-size: 14px;}
.f01, .f03{font-weight: 800;}
.f03{margin-top: 19px;}
.f02, .f04{font-weight: 400;}
/* .box01 > img{
    animation-name: ani01;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes ani01{
    0%{margin-left: 0%;}
    100%{
        margin-left: 100%;
        transform: rotate(360deg);
    }
}

.box02 > img{
    animation-name: ani02;
    animation-duration: 5s;
    animation-iteration-count: infinite
}
@keyframes ani02{
    0%{margin-left: 0%;}
    30%{opacity: 0%;filter: hue-rotate(20%);}
    100%{margin-left: 100%;
    opacity: 100%;}
} */
 /* .box03 > .txt {
    animation-name: ani03;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes ani03{
    0%{letter-spacing: 0px;
       color: #000;}
    50%{letter-spacing: 100px;
        color: #a6a6a6;}
    100%{letter-spacing: 0px;
        color: #000;}
} */